<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itgr.zhaojbackendquestionservice.mapper.BankQuestionMapper">

    <resultMap id="BaseResultMap" type="com.itgr.zhaojbackendmodel.model.entity.BankQuestion">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="bankId" column="bankId" jdbcType="BIGINT"/>
            <result property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,bankId,questionId,
        isDelete
    </sql>
</mapper>
