<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itgr.zhaojbackendquestionservice.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.itgr.zhaojbackendmodel.model.entity.Question">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="submitNum" column="submitNum" jdbcType="INTEGER"/>
        <result property="answer" column="answer" jdbcType="VARCHAR"/>
        <result property="accepted" column="accepted" jdbcType="INTEGER"/>
        <result property="judgeCase" column="judgeCase" jdbcType="VARCHAR"/>
        <result property="judgeConfig" column="judgeConfig" jdbcType="VARCHAR"/>
        <result property="thumbNum" column="thumbNum" jdbcType="INTEGER"/>
        <result property="favourNum" column="favourNum" jdbcType="INTEGER"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        tags,submitNum,answer,
        accepted,judgeCase,judgeConfig,
        thumbNum,favourNum,userId,
        createTime,updateTime,isDelete
    </sql>
    <insert id="addBankAndQuestion">
        insert into bank_question
            (questionId, bankId)
        values (#{questionId}, #{bankId})
    </insert>
</mapper>
